{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
        <a class="btn btn-primary" href="{{ path('post_index') }}">Back to the list</a>
    {{ form_end(form) }}


{% endblock %}
